.DS_Store
.smex-items
*~$
places
.recentf
ido.last
cider-history
projectile-bookmarks.eld
projectile.cache
auto-save-list
backups
elpa/
themes/
network-security.data
.mc-lists.el
eshell/
custom.el
/.recentf~
/custom.el~
/transient/history.el
ac-comphist.dat
