.DS_Store
.smex-items
*~$
places
.recentf
ido.last
cider-history
projectile-bookmarks.eld
projectile.cache
auto-save-list
backups
elpa/
network-security.data
.mc-lists.el
eshell/
/.recentf~
/custom.el~
/transient/history.el
ac-comphist.dat
/recentf
/recentf~
/url/cache/jacobdeepak/
/emacs-livedown/
